.heading{
    font-family: 'Poppins', sans-serif;
}
.body{
    font-family: 'Open Sans', sans-serif;
}
.subscribe{
    color: white;
    padding: 7px 25px 7px 25px;
    border-style: none;
    border-radius: 5px;
}

.bg_gradient{
    background-image: linear-gradient(to right,hsl(321, 100%, 78%),hsl(322, 100%, 66%),hsl(321, 100%, 78%));
}